@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

$PT-font: 'PT Sans', sans-serif;
$Lato-font: 'Lato', sans-serif;

$dark-gray: #424242;
$strong-blue: #2989C6;
